footer {
    background-color: black;
}



footer .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 18px;
}

footer .newsletter label {
    margin-right: 20px;
}

button {
    font-size: 15px;
    padding: 5px;
    margin-left: 20px;
    background-color: gray;
    color: white;


    &:hover {
        color: black;
    }
}

footer .socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-top: 10px;
    background-color: black;

}

footer .socialmedia .fa-brands {
    border-radius: 0.2em;
    padding: 0.5em;
}

footer .socialmedia a {
    color: white;
    margin: 5px;
}

footer .socialmedia a:hover {
    color: #00FF7F;
}

footer .author {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    font-size: 15px;
}

footer .author p {
    font-size: 15px;
    color: white;
}