<div><br><br></div>
<main class="main mt-3">
    <section id="about">
        <h2>About Us</h2>
        <p>Welcome to our restaurant, where we strive to provide the best dining experience for our customers. We
            believe that great food brings people together, and that's why we are passionate about serving delicious
            meals made from the finest ingredients.</p>
        <p>Our team of talented chefs is dedicated to creating innovative and mouthwatering dishes that satisfy every
            palate. From appetizers to desserts, our menu offers a wide variety of options to cater to different tastes
            and dietary preferences.</p>
        <p>At our restaurant, we also take pride in our warm and inviting atmosphere. Whether you're enjoying a romantic
            dinner for two or celebrating a special occasion with friends and family, our friendly staff will ensure
            that your experience is memorable.</p>
        <p>We source our ingredients locally and prioritize sustainability, supporting local farmers and producers. Our
            commitment to quality extends beyond the kitchen to our exceptional customer service. We believe that every
            guest deserves personalized attention and a dining experience that exceeds expectations.</p>
        <p>Thank you for choosing our restaurant. We look forward to serving you and creating delightful memories around
            the table.</p>
        <img src="assets/tiramisu.jpg" alt="">
    </section>
</main>