<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/assets/schrimps.jpg" alt="Logo" width="30px" height="30px" class="d-inline-block align-text-top">
            Ristorante
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                <a class="nav-link" routerLink="/about-us">About us</a>
                <a class="nav-link" routerLink="/menu">Menu</a>
                <a class="nav-link" routerLink="/cart">Cart</a>
            </div>
        </div>
    </div>
</nav>