<div><br><br><br></div>
<div class="position">
    <div class="container_1 ">
        <h3>Menues Total: {{ (total) }}€</h3>
        <hr>
        <p>Amount + Service 10% : <strong>{{ (discount) }}€</strong></p>
        <hr>
        <h5 *ngIf="total >40">Total > 40€ you get 15% Discount : {{total * 0.15}} € <br> New Amount to pay :
            {{discount-total*0.15}} €</h5>
    </div>
</div>
<hr>
<div class="container" *ngFor="let dish of cart" style="margin-top: 20px; margin-bottom: 30px;">
    <h2>Dish Details</h2>
    <img src="{{dish.img}}" style="width: 400px;">
    <p>{{dish.name}}</p>
    <p>{{dish.price}} €</p>
    <p>{{dish.description}}</p>
    <hr>
</div>