<div class="container_1 ">
    <h3>Menues Total: {{ (total) }}€</h3>
    <hr style="color: black;">
    <p>Amount + Service : <strong>{{ (discount) }}€</strong></p>
    <hr style="color: black;">
    <p *ngIf="total >40">Discount of : {{total * 0.15}} € <br> New Amount to pay : {{discount-total*0.15}} €</p>
</div>
<hr>
<div class="container" *ngFor="let dish of cart" style="margin-top: 20px; margin-bottom: 30px;">
    <h2>Dish Details</h2>
    <img src="{{dish.img}}" style="width: 400px;">
    <p>{{dish.name}}</p>
    <p>{{dish.price}}</p>
    <p>{{dish.description}}</p>
    <hr>
</div>