#bg-picture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/italian_food.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    width: 100%;
    height: 90vh;
}

.big-titel {
    font-family: 'Great Vibes';
}