p {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: 18px;
}

.container {
    height: auto;
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
    box-shadow: 3px 3px 3px gray;
    border: 1px solid gray;
}

.btn {
    margin-bottom: 5px;
}

img {
    border: 2px solid gray;
    border-radius: 10px;
    border-style: groove;
}